.item {
  width: 600px;
  height: 150px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  color: aliceblue;
}

.fixed {
  background-color: rgb(223, 51, 51);
}

.rubber {
  width: 45%;
  background-color: rgb(230, 234, 31);
}

.adaptive {
  background-color: rgb(38, 154, 236);
}

.responsive {
  background-color: rgb(171, 62, 221);
}

@media (max-width: 992px) {
  .adaptive {
    width: 300px;
  }
  .responsive {
    margin: 0;
    margin-top: 20px;
    width: 90%;
  }
}

@media (max-width: 692px) {
}
