.wrapper {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  margin: 50px;
  background-color: rgb(223, 51, 51);
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

#box {
  width: 650px;
  height: 150px;
  margin: 50px;
  background-color: rgb(44, 152, 73);
  color: #fff;
  text-align: center;
}

.button {
  border: none;
  background-color: rgb(15, 76, 156);
  width: 75px;
  height: 40px;
  color: #fff;
  cursor: pointer;
}

.black {
  background-color: rgb(29, 28, 28);
  color: #fff;
}

.red {
  color: rgb(255, 255, 255);
  background-color: rgb(194, 24, 24);
}
